.titre{
    margin-top: 150px;
}
h1{
    display: flex;
    justify-content: center;
}
h2{
    display: flex;
    justify-content: center;
}
.icon{
    display: flex;
    justify-content: left;
}
.join{
    position: relative;
    bottom: -5px;
    right: 10px;
    font-size: x-large;
}
.link_git{
    text-decoration: none;
    color: black;
}
.link_git:hover{
    color: rgb(95, 186, 183);
}
body{
    font-family: 'Roboto Mono', monospace;
    font-size:100%;
    font-size:16px;
    line-height:1.5;
    background:#f0f4fb;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}
.search{
    display: flex;
    justify-content: right;
    margin-top: -125px;
    margin-right: 20px;
}
#searchbar{
    border-radius: 10px;
    height: 35px;
    width: 150px;
    
}
input[type=text] {
    width: 30%;
    -webkit-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out;
}
input[type=text]:focus {
    width: 70%;
}
#list{
    font-size:  1.5em;
    margin-left: 90px;
}
.sneaker{
    display: none;    
}
.img_Footer{
    position: relative;
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
    top: 180px;
}

.logo_arrow{
    position: relative;
    display: flex;
    justify-content: center;
    top: 100px;
}
.logo{
    position: relative;
    display: flex;    
    justify-content: left;
}
.credit{
    position: relative;
    font-size: x-large;
    display: flex;
    justify-content: center; 
    padding-top: 55px;
}





.site-container{
    padding-top: 300px;
    margin:2rem auto;
    max-width:calc(100%80px);
}
.site-container2{
    padding-top: 80px;
    margin:2rem auto;
    max-width:calc(100%80px);
}
.article-container{
    display: flex;
    justify-content: space-around;
    gap:2rem;
}
.article-image{
    /* width: 50%; */
    margin:0;
    padding:0;
    overflow:hidden;
}
.article-image img{
    width:100%;
    height: auto;
    border-radius:20px 20px 00;
}
.article-card{
    background:rgb(231, 231, 231);
    width:500px;
    height: auto;
    border-radius:20px;
    transition:0.3s;

}
.article-card:hover{
    box-shadow:04px 20px 0 rgba(34,68,123,0.2);
    cursor:pointer;
}
.article-content{
    padding:2rem;
}
.article-content .card-category{
    font-size:0.875rem;
    text-transform:uppercase;
    letter-spacing:0.1em;
    font-weight:600;
    color:#6b82a7;
    display:block;
    text-decoration:none;
}
.article-content .card-title{
    margin:1rem 0;
    color:#22447b;
}
.article-content .card-excerpt{
    font-size:1rem;
    line-height:1.5rem;
    color:#6b82a7;
    margin:0;
}
@media screen and(min-width:768px){
    .site-container{
        max-width:608px;
   }
    .article-card{
        display:grid;
        grid-template-rows:220px 1fr;
   }
}
@media screen and(min-width:1280px)
{
    .site-container{
        max-width:1156px;
   }
}





