:root{
    --main-bg-color: #f0f4fb;
    --bg-color-remixed: #eaecf1;
}


*{
    scroll-behavior: smooth;
    cursor: none;
    padding: 0;
    margin: 0;
}
.titre{
    margin-top: 150px;
}
h1{
    display: flex;
    justify-content: center;
}
h2{
    display: flex;
    justify-content: center;
}
.icon{
    display: flex;
    justify-content: left;
}
.join{
    position: relative;
    bottom: -5px;
    right: 10px;
    font-size: x-large;
}
.link_git{
    text-decoration: none;
    color: black;
}
.link_git:hover{
    color: rgb(95, 186, 183);
}
body{
    font-family: 'Roboto Mono', monospace;
    font-size:100%;
    font-size:16px;
    line-height:1.5;
    background:#f0f4fb;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    scroll-behavior: smooth;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: visible; 
}


#list{
    font-size:  1.5em;
    margin-left: 90px;
}
.sneaker{
    display: none;    
}
.div_arrow{
    position: relative;
    display: flex;
    justify-content: center;
    background-color: green;
    height: 0px;
    top: 140px;
}
.logo{
    position: relative;
    display: flex;
    justify-content: left;
    top: 210px;
    height: 0;
    background-color: green;
}
.credit{
    font-size: x-large;
    display: flex;
    justify-content: center; 
    padding-top: 192px;
}
.tooTop{
    transition: 0.5s;
}
.how a{
    text-decoration: none;
    color: black;
    padding: 10px;
}
.how{
    background-color: white;
    height: 50px;
    display: flex;
    justify-content: left;
    border-radius: 20px;
    margin-right: 20px;    
    box-shadow: 00px 5px 5px 0px#6b82a7;
}
.btn{
    position: relative;
    display: flex;
    align-items: left;
}
.créa p{
    text-decoration: none;
    color: black;
    margin: auto;
}
.créa{
    background: #f0f4fb;
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: right;
    border-radius: 20px;
    margin-right: 50px;
    box-shadow: 00px 5px 5px 0px #a3a3a3;
}



nav div .how:hover{
    box-shadow: 00px 1px 5px 0px#6b82a7;
    transition: 0.8s;
}
nav div .créa:hover{
    box-shadow: 00px 1px 5px 0px#a3a3a3;
    transition: 0.8s;
}
.pk{
    width: 700px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: x-large;
}
#how{
    position: relative;
    display: flex;
    justify-content: center;
    top: 120px;
}
.top{
    display: flex;
    justify-content: space-between;
}
nav{
    position: relative;
    top: 25px;
}

#bgOver{ 
    width: 100vw;
    height: 168.37vw;
    background-color: rgb(15, 15, 15);
    opacity: 50%;
    position: absolute;
    display: none;
}
.buyAlert{
    background-color: var(--bg-color-remixed);

    width: 480px;
    height: 600px;

    position: absolute;


    display: none;
}



.site-container{
    padding-top: 300px;
    margin:2rem auto;
    max-width:calc(100%80px);
}
.site-container2{
    padding-top: 80px;
    margin:2rem auto;
    max-width:calc(100%80px);
}
.site-container3{
    padding-top: 30px;
    margin:2rem auto;
    max-width:calc(100%80px);
}
.article-container{
    display: flex;
    justify-content: space-around;
    gap:2rem;
}
.article-image{
    margin:0;
    padding:0;
}
.article-image img{
    width:100%;
    height: auto;
    border-radius:20px 20px 00;
}
/* .article-image img .second{
    display: none;
} */



.article-card{
    background:rgb(231, 231, 231);
    width:500px;
    height: auto;
    border-radius:20px;
    transition:0.3s;
}
.article-card:hover{
    box-shadow:07.5px 15px 0 rgba(34,68,123,0.2);
}
.article-content{
    padding:2rem;
}
.article-content .card-category{
    font-size:1.5rem;
    text-transform:uppercase;
    letter-spacing:0.1em;
    font-weight:600;
    color:#6b82a7;
    display:block;
    text-align: center;
    text-decoration:none;
}
.article-content .card-title{
    margin:1rem 0;
    color:#22447b;
}
.article-content .card-excerpt{
    font-size:1rem;
    line-height:1.5rem;
    color:#6b82a7;
    margin:0;
}




/* flèche droite et gauche*/
.flèche-d{
    position: relative;
    display: flex;
    left: 98%;
    bottom: 50px;
    background-color: rebeccapurple;
    height: 0px;
}
.flèche-g{
    position: relative;
    display: flex;
    right: 7%;
    bottom: 50px;
    background-color: rebeccapurple;
    height: 0px;
}









/* responsive */
@media screen and(min-width:768px){
    .site-container{
        max-width:608px;
   }
    .article-card{
        display:grid;
        grid-template-rows:220px 1fr;
   }
}
@media screen and(min-width:1280px)
{
    .site-container{
        max-width:1156px;
   }
}





